.bg-dishes {
  background: url("css-sprite-combined.png") -1px -0px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.bg-landing {
  background: url("css-sprite-combined.png") -102px -0px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.bg-rocketship {
  background: url("css-sprite-combined.png") -203px -0px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.bg-saturn {
  background: url("css-sprite-combined.png") -304px -0px;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.bg-ufo {
  background: url("css-sprite-combined.png") -405px -0px;
  width: 100px;
  height: 100px;
  display: inline-block;
}
