body {
  margin: 10px;
}
tr:nth-child(even) {
  background-color: rgba(255, 0, 0, 0.1);
}
tr:nth-child(odd) {
  background-color: pink;
}
thead {
  background-color: #427fef;
}
th {
  text-align: center;
  text-shadow: 3px 3px 5px;
  padding: 10px;
}
tfoot {
  background-color: #427fef;
  text-align: center;
}
.white,
.foot {
  color: white;
  background-color: #427fef;
  text-shadow: none;
}
.box {
  width: 300px;
  height: 300px;
  background: tomato;
  border-radius: 20px;
  box-shadow: 10px 10px lightgrey;
}
h1 {
  color: black;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
}
