body {
  margin: 0.5rem;
}

img {
  width: 4rem;
  height: 4rem;
  position: relative;
  left: 0.5rem;
  top: 0.5rem;
  border-radius: 1rem;
}
.avatar {
  margin-right: 0.5rem;
  border-radius: 1rem;
  width: 5rem;
  height: 5rem;
  background-color: lightgrey;
  float: left;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.tweet {
  border: 3px solid lightblue;
  border-radius: 1rem;
  overflow: hidden;
}
.clear {
  clear: both;
}
